body {
	color: $default-text;
	background: $default-background;
	font-size: 1.5em;
	overflow-x: hidden;
	@include body-font;
}

a {
	color: $default-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include header-font;
}

h1 {
	@include font-size( $h1-font-sizes );
}
h2 {
	@include font-size( $h2-font-sizes );
}
h3 {
	@include font-size( $h3-font-sizes );
}
h4 {
	@include font-size( $h4-font-sizes );
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.1em;
}

img {
	max-width: 100%;
	height: auto;
}

a.centered-icon  {
	display: block;
	text-align: center;
	padding: 1em;

	.iconic {
		width: 30%;
		height: auto;
	}
}
