header.banner {
	position: relative;
	background: $brand-primary;
	z-index: 10;
	@include animation( backgroundColor 110s linear infinite );
	@include box-shadow( 0 1px 2px rgba(0, 0, 0, 0.4) );

	.container {
		text-align: center;
	}

	a.brand {
		@include header-font;
		font-size: 5em;
		line-height: 1em;
		color: transparentize( $orange, 0.2 );
		text-decoration: none;
		text-shadow: rgba( 0,0,0,0.3 ) -1px -1px 0;
		display: block;
		margin: 1em 0;
		word-break: break-all;
	}
}

@include keyframes( backgroundColor ) {
	0% { background-color: $light-orange; }
	35% { background-color: $orange; }
	50% { background-color: $amber-orange; }
	70% { background-color: $orange; }
	100% { background-color: $light-orange; }
}

@media screen and (max-width: 600px) {
	header.banner {
		a.brand {
			font-size: 4em;
		}
	}
}