main.main {
	.page-header {
		display: block;
		padding: 2em 0;

		&.has-image {
			padding: 18em 0 2em 9em;
			background-position: center;
			background-size: cover;
			margin: 0 -9em 2em -9em;

			h1 {
				background: rgba( 255, 255, 255, 0.5 );
				display: table;
				padding: 0.1em 0.5em;
				margin-right: 50%;
				text-shadow: rgba( 255,255,255,0.4 ) 1px 1px 0;

			}
		}

		@media screen and (max-width: 800px) {
			&.has-image {
				padding: 12em 0 2em 7em;
				margin: 0 -7em 2em -7em;

				h1 {
					margin-right: 35%;
				}
			}
		}

		@media screen and (max-width: 600px) {
			&.has-image {
				padding: 9em 0 2em 5em;
				margin: 0 -5em 2em -5em;

				h1 {
					margin-right: 2em;
				}
			}
		}
	}
}

.three-boxes {
	padding: 2em 0;

}

.image-overlap-featured-image {
	margin-top: -12em;
	@include transform( rotate( -4deg ) );
	@include transform-origin(center center);
	@include transform-style(preserve-3d);

	@media screen and (max-width: 800px) {
		clear: both;
		margin-top: 1em;
	}

}

.ai1ec-btn-group > .ai1ec-btn-sm {
	font-size: 0.9em;
}

.one-half {
	.ai1ec-stream-view .ai1ec-event {
		height: 50px;
	}
	.ai1ec-event-avatar img {
		min-height: 50px;
	}
	.ai1ec-stream-view .ai1ec-event-avatar.ai1ec-portrait img {
		height: 50px !important;
		width: auto !important;
	}
}

.announcements-box {
	position: relative;
	margin: 4em 0 0 0;
	padding: 0 0.8em 1em 0.8em;

	.announcements-title {
		display: inline-block;
		background: $default-text;
		color: $default-background;
		padding: 0.4em 1em;
		font-size: 1.8em;
		margin: -2em 0 0 -1em;
	}

	.post-thumbnail-column {
		float: right;
		text-align: right;
	}
}
.important {
	border: 1px solid $amber-orange;
}