main.main {
	.page-header {
		display: block;
		padding: 2em 0;

		&.has-image {
			padding: 15em 0 2em 5em;
			background-position: center;
			background-size: cover;
			margin: 0 -5em 2em -5em;

			h1 {
				background: rgba( 255, 255, 255, 0.5 );
				display: table;
				padding: 0.1em 0.5em;
			}
		}
	}
}