main.main {
	.page-header {
		display: block;
		padding: 2em 0;

		&.has-image {
			padding: 18em 0 2em 9em;
			background-position: center;
			background-size: cover;
			margin: 0 -9em 2em -9em;

			h1 {
				background: rgba( 255, 255, 255, 0.5 );
				display: table;
				padding: 0.1em 0.5em;
				margin-right: 50%;
				text-shadow: rgba( 255,255,255,0.4 ) 1px 1px 0;

			}
		}

		@media screen and (max-width: 800px) {
			&.has-image {
				padding: 12em 0 2em 7em;
				margin: 0 -7em 2em -7em;

				h1 {
					margin-right: 35%;
				}
			}
		}

		@media screen and (max-width: 600px) {
			&.has-image {
				padding: 9em 0 2em 5em;
				margin: 0 -5em 2em -5em;

				h1 {
					margin-right: 2em;
				}
			}
		}
	}
}

.three-boxes {
	padding: 2em 0;

}

.image-overlap-featured-image {
	margin-top: -12em;
	@include transform( rotate( -4deg ) );
	@include transform-origin(center center);
	@include transform-style(preserve-3d);

	@media screen and (max-width: 800px) {
		clear: both;
		margin-top: 1em;
	}

}