.post-header {
	display: block;
	padding: 2em 0;

	&.has-image {
		padding: 11em 0 2em 0;
		background-position: center;
		background-size: cover;
		margin: 0 0 2em 0;

		h1 {
			background: rgba( 255, 255, 255, 0.7 );
			display: table;
			padding: 0.1em 0.5em;
			margin-right: 2em;
			text-shadow: rgba( 255,255,255,0.4 ) 1px 1px 0;

		}

		time,
		.byline {
			margin-left: 2em;
		}
	}

	@media screen and (max-width: 800px) {
		&.has-image {
			padding: 12em 0 2em 7em;
			margin: 0 -7em 2em -7em;

		}
	}

	@media screen and (max-width: 600px) {
		&.has-image {
			padding: 9em 0 2em 5em;
			margin: 0 -5em 2em -5em;

		}
	}
}
article {
	clear: both;
}
.blog,
.archive {
	.page-header {
		margin-bottom: 0;
	}

	article {
		min-height: 60px;
		padding: 2em 0;
		border-bottom: 1px solid #ddd;
		overflow: hidden;
		position: relative;

		.post-category-label {
			position: absolute;
			top: 0px;
			left: 35%;
			width: 30%;
			text-align: center;
			display: inline-block;
			background-color: $dark-grey;
			font-size: 0.8em;

			a {
				color: $offwhite;

				&:hover,
				&:focus {
					color: $white;
				}
			}

		}

		&.category-announcements {
			.post-category-label {
				background-color: $amber-orange;
			}
		}
		&.category-assignments {
			.post-category-label {
				background-color: $purple;
			}
		}
		&.category-other-stuff {
			.post-category-label {
				background-color: $grey-blue;
			}
		}
	}
}
.one-half {
	article {
		min-height: 60px;
		padding: 2em 0;
		overflow: hidden;

		.post-excerpt-column {
			.entry-title {
				margin-top: 0;
			}
		}
	}
}

.post-category-label {
	display: none;
}

.post-thumbnail-column {
	@include make-sm-column( 3 );
	img {
		border: 1px solid transparentize( $default-link, 0.5 );
		padding: 2px;
		background-color: #fff;

		&:hover {
			border: 1px solid $default-link;
			background-color: $default-link;

		}
	}
}
.post-excerpt-column {
	@include make-sm-column( $main-sm-columns - 3 );
}

img.styled {
	border: 1px solid transparentize( $default-link, 0.5 );
	padding: 2px;
	background-color: #fff;

	&:hover {
		border: 1px solid $default-link;
		background-color: $default-link;

	}
}